NEXUSMODS_API_KEY=your_nexusmods_api_key_here
MODS_DIR=/path/to/your/mods/folder
GAME=monsterhunterwilds
# Browser download folder; downloaded updates are moved from here into MODS_DIR
DOWNLOADS_DIR=/mnt/c/Users/you/Downloads
